.mainTitle {
    font-size: 100px;
}


.container {
    background-color: none;
}
.selectTitle {
    margin: 20px 0;
    font-size: 4rem;
    text-align: center;
}
.items {
    display: flex;
    gap: 50px;
}
.item {
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    background-size: cover !important;
}
.item:nth-child(1){
    background: url("https://res.cloudinary.com/dacosbo9t/image/upload/v1702630733/Zagloba/y22jo1funm7e5po0lttx.jpg");
}
.item:nth-child(2){
    background: url("https://res.cloudinary.com/dacosbo9t/image/upload/v1702630733/Zagloba/y22jo1funm7e5po0lttx.jpg");
}
.item:nth-child(3){
    background: url("https://res.cloudinary.com/dacosbo9t/image/upload/v1702630733/Zagloba/y22jo1funm7e5po0lttx.jpg");
}
.title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}
.item:hover .title {
    color: #53c28b;
}