.mainTitle {
    font-size: 500px;
}


.boxe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    /* background-color: red; */
}
.selectTitle {
    padding-top: 100px;
    padding-bottom: 50px;
    /* margin: 200px 0; */
    font-size: 50px;
    text-align: center;
}
.items {
    
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}
.item {
    
    border: 5px solid #bbb;
    border-radius: 5px;
    width: 20vw;
    height: 400px;
    position: relative;
    background-size: cover !important;
}
.item:nth-child(1){
    background: url("https://res.cloudinary.com/dacosbo9t/image/upload/v1691429233/samples/bike.jpg");
}
.item:nth-child(2){
    background: url("https://res.cloudinary.com/dacosbo9t/image/upload/v1691429236/samples/people/bicycle.jpg");
}
.item:nth-child(3){
    background: url("https://res.cloudinary.com/dacosbo9t/image/upload/v1691429232/samples/ecommerce/shoes.png");
}
.title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    font-weight: bold;
}
.item:hover .title {
    color: #53c28b;
}