.contacta {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 100px;
    
    width: 100vw;
    max-width: 600px;

}
.empty {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 100vw;
}