.hero-cont {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #d6d6d6;
  margin-top: -10%;
  margin-bottom: 5%;
  /* padding: 5px 8px 5px 5px; */
  max-width: 893px;

  height: auto;
  width: auto;
}
/* .grafika {
  width: 32.3%;
  height: 50%;
} */
.block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* width: 100%; */
  height: 97.3%;
  padding: 3px;
}
.first {
  width: 58.5%;
  height: 300px;
  padding: 3px;
}
.second {
  width: 40%;
  height: 300px;
  padding: 3px;
}
.third {
  width: 32.3%;
  height: 100%;
  padding: 3px;
  /* margin-top: 7px; */
}
.fourth {
  width: 32.0%;
  height: 100%;
  padding: 3px;
  /* margin-top: 7px; */
}
.fifth {
  width: 33.0%;
  height: 100%;
  padding: 3px;
  /* margin-top: 7px; */
}
.Title_image1 {
  position: absolute;
  height: 100%;
  width: auto;
  background-image: url("./images/33.jpg");
  background-size: cover;
  background-position: 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.Title_image1:hover {
  transform: scale(1.03);
}
.Title_image2 {
  position: absolute;
  height: 100%;
  width: auto;
  background-image: url("./images/88.jpg");
  background-size: cover;
  background-position: 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Title_image3 {
  position: absolute;
  height: 100%;
  width: auto;
  background-image: url("./images/66.jpg");
  background-size: cover;
  background-position: 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Title_image4 {
  position: absolute;
  height: 100%;
  width: auto;
  background-image: url("./images/77.jpg");
  background-size: cover;
  background-position: 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Title_image5 {
  position: absolute;
  height: 100%;
  width: auto;
  background-image: url("./images/11.jpg");
  background-size: cover;
  background-position: 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.Hero_title {
  position: relative;
  width: 100%;
  height: 300px;
  float: left;
  overflow: hidden;
}

span {
  position: absolute;
  color: rgb(249, 249, 251);
  z-index: 7;
  top: 15px;
  left: 30px;
  font-size: 25px;
  font-weight: 400;
}
.col1 {
  color: #000;
}

@media (max-width: 768px) {
  .hero-cont {
    
    margin-top: -10%;
    margin-bottom: 5%;
    padding:  0px;
    max-width: 940px;
  
    height: auto;
    width: auto;
  }
  .block {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0px 0px 0px;
  }
  .grafika {
    width: 100vw;
    height: 300px;
    padding: 0px;
  }
  .second {
    padding: 0px;
  }
  .fifth {
    padding: 0px;
  }
  .first {
    padding: 0px;
   
  }
}
